{% comment %}
  Renders a sort by field for a collection or search object

  Accepts:
  - name: {String} Name of the field (optional)
  - value: {String} Value of the field (optional)
  - label: {String} Label of the field (optional)
  - checked: {Boolean} Whether the field is checked (optional)

  Usage:
  {% render 'field-select-custom-option' %}
{% endcomment %}

<label class='xo-field-select-custom-variant__check'>
  <input
    type='radio'
    class='xo-field-select-custom-variant__input'
    name='{{ name }}'
    xo-label='{{ label | escape }}'
    value='{{ value | escape }}'
    {% if checked %}
      checked
    {% endif %}
  >
  <span class='xo-field-select-custom-variant__label'>{{ label | escape }}</span>
</label>
