{% comment %}
  Renders a form success

  Accepts:
  - form: {Object} Form object (optional)
  - message: {String} Message to display (optional)

  Usage:
  {% render 'form-success',
    form: form
  %}
{% endcomment %}

{% if form.posted_successfully? %}
  <div class='xo-form-success' role='status'>
    {% render 'icon', name: 'success' %}
    <div class='xo-form-success__message'>{{ message }}</div>
  </div>
{% endif %}
