{% comment %}
  Loader 3

  Accepts:
  - size: {number} Size of the loader. Default: 10 (optional)
  - color: {string} Color of the loader. Default: "#000" (optional)
  - duration: {number} Duration of the loader. Default: 1000 (optional)

  Usage:
  {% render 'loader-3',
    size: 10,
    color: "#000",
    duration: 1000
  %}
{% endcomment %}

<div
  class='xo-loader-3'
  style='--size: {{ size | default: 10 }}; --color: {{ color | default: 'currentColor' }}; --duration: {{ duration | default: 1000 }};'
>
  <div></div>
</div>
