{% comment %}
  Loader 1

  Accepts:
  - size: {number} Size of the loader. Default: 40 (optional)
  - color: {string} Color of the loader. Default: "#000" (optional)
  - duration: {number} Duration of the loader. Default: 1600 (optional)

  Usage:
  {% render 'loader-1',
    size: 40,
    color: "#000",
    duration: 1600
  %}
{% endcomment %}

<div
  class='xo-loader-1'
  style='--size: {{ size | default: 40 }}; --color: {{ color | default: 'currentColor' }}; --duration: {{ duration | default: 1600 }};'
></div>
