{% comment %}
  Loader 2

  Accepts:
  - size: {number} Size of the loader. Default: 26 (optional)
  - color: {string} Color of the loader. Default: "#000" (optional)
  - duration: {number} Duration of the loader. Default: 1000 (optional)
  - stroke_width: {number} Stroke width of the loader. Default: 2 (optional)

  Usage:
  {% render 'loader-2',
    size: 26,
    color: "#000",
    duration: 1000,
    stroke_width: 2
  %}
{% endcomment %}

<div
  class='xo-loader-2'
  style='--size: {{ size | default: 26 }}; --color: {{ color | default: 'currentColor' }}; --duration: {{ duration | default: 1000 }}; --stroke-width: {{ stroke_width | default: 2 }};'
>
  <div></div>
</div>
