<nav class='xo-menu-scroll'>
  <ul role='list' class='xo-menu-scroll__list'>
    <li class='xo-menu-scroll__item'><a class='xo-menu-scroll__link' href='#'>Home</a></li>
    <li class='xo-menu-scroll__item'><a class='xo-menu-scroll__link' href='#'>Best Seller</a></li>
    <li class='xo-menu-scroll__item'><a class='xo-menu-scroll__link xo-menu-scroll__link--current' href='#'>Collection</a></li>
    <li class='xo-menu-scroll__item'><a class='xo-menu-scroll__link' href='#'>Shop</a></li>
    <li class='xo-menu-scroll__item'><a class='xo-menu-scroll__link' href='#'>Contact</a></li>
    <li class='xo-menu-scroll__item'><a class='xo-menu-scroll__link' href='#'>Blog</a></li>
    <li class='xo-menu-scroll__item'><a class='xo-menu-scroll__link' href='#'>Lookbook</a></li>
    <li class='xo-menu-scroll__item'><a class='xo-menu-scroll__link' href='#'>Wishlist</a></li>
    <li class='xo-menu-scroll__item'><a class='xo-menu-scroll__link' href='#'>Portfolio</a></li>
  </ul>
</nav>
