

<div class='product-description-style8'>
  <xo-grid style='--xs: 1; --md: 2; --xo-grid-col-gap: 60px;'>
    <div style='display: flex; flex-direction: column; justify-content: center'>
      <h3>Novissimo modo trends producto</h3>
      <p>Quia et voluptas voluptatum est. Molestiae aut earum voluptatem distinctio ea temporibus. Molestiae et ut quis sed dignissimos maiores.</p>
      <br>
      <ul role='list'>
        <li>Utens materiae qualitate et processibus fabricandis provectis ad efficiendum opus longum habet vitam et capacitatem bonam fruentem.</li>
        <li>Designata producta ad multos usus et spatia aptanda, flexibilitatem et commodum usoribus afferens.</li>
        <li>Novas et provectas notas in products ad valorem augendum et certatim in foro introducendis.</li>
        <li>Ut salus utentium notitia et personalis notitia per congruas cautiones mensuras.</li>
        <li>Provide professionalis et dicata ministros officia</li>
      </ul>
    </div>
    <div class='product-description__img-wrap'>
      <img
        src='https://cdn.shopify.com/s/files/1/0911/6149/3876/files/09_374dbcbd-1881-4bbc-a5df-db709e3c5695.jpg?v=1744099169'
        width='535'
        height='555'
        alt='description'
        is='xo-lazyload'
        loading='lazy'
      >
    </div>
  </xo-grid>
</div>
