

<div class='product-description-style3'>
  <xo-grid style='--xs:1; --md:2; padding-bottom: 2rem'>
    <div>
      <h3>Outstanding Features</h3>
      <p>
        Labore omnis sint totam maxime. Reprehenderit eaque consectetur consequuntur ullam consequuntur voluptatum. Eius voluptatem molestias rerum repellat quam.Recusandae dicta
        facere et iste ut autem aut. Vitae cupiditate voluptas ratione aut et qui.
      </p>
    </div>
    <div>
      <h3>Instructions</h3>
      <ul role='list'>
        <li>
          <div style='width: 30px; height: 30px'>
            <img
              width='30'
              height='30'
              src='https://cdn.shopify.com/s/files/1/0665/6580/0183/files/wash_480x480.png?v=1666432908'
              alt='description'
              data-mce-fragment='1'
              data-mce-src='https://cdn.shopify.com/s/files/1/0665/6580/0183/files/wash_480x480.png?v=1666432908'
              is='xo-lazyload'
              loading='lazy'
            >
          </div>
          <div>Aestus max. 30ºC.</div>
        </li>
        <li>
          <div style='width: 30px; height: 30px'>
            <img
              width='30'
              height='30'
              src='https://cdn.shopify.com/s/files/1/0665/6580/0183/files/iron_480x480.png?v=1666432941'
              alt='description'
              data-mce-fragment='1'
              data-mce-src='https://cdn.shopify.com/s/files/1/0665/6580/0183/files/iron_480x480.png?v=1666432941'
              is='xo-lazyload'
              loading='lazy'
            >
          </div>
          <div>Mauris maximus 110ºC.</div>
        </li>
        <li>
          <div style='width: 30px; height: 30px'>
            <img
              width='30'
              height='30'
              src='https://cdn.shopify.com/s/files/1/0665/6580/0183/files/blech_480x480.png?v=1666432965'
              alt='description'
              data-mce-fragment='1'
              data-mce-src='https://cdn.shopify.com/s/files/1/0665/6580/0183/files/blech_480x480.png?v=1666432965'
              is='xo-lazyload'
              loading='lazy'
            >
          </div>
          <div>Ne frangas.</div>
        </li>
        <li>
          <div style='width: 30px; height: 30px'>
            <img
              width='30'
              height='30'
              src='https://cdn.shopify.com/s/files/1/0665/6580/0183/files/dry_480x480.png?v=1666433030'
              alt='description'
              data-mce-fragment='1'
              data-mce-src='https://cdn.shopify.com/s/files/1/0665/6580/0183/files/dry_480x480.png?v=1666433030'
              is='xo-lazyload'
              loading='lazy'
            >
          </div>
          <div>Nec in bin.</div>
        </li>
        <li>
          <div style='width: 30px; height: 30px'>
            <img
              width='30'
              height='30'
              src='https://cdn.shopify.com/s/files/1/0665/6580/0183/files/icon_4_480x480.png?v=1666433065'
              alt='description'
              data-mce-fragment='1'
              data-mce-src='https://cdn.shopify.com/s/files/1/0665/6580/0183/files/icon_4_480x480.png?v=1666433065'
              is='xo-lazyload'
              loading='lazy'
            >
          </div>
          <div>Condite in frigidis.</div>
        </li>
      </ul>
    </div>
  </xo-grid>
  <p>
    Eum aspernatur culpa sit saepe velit velit consequatur. Quia illo enim voluptas qui. Expedita mollitia suscipit odio nam suscipit. At dignissimos sapiente iure dolorem. Autem
    occaecati amet voluptas accusantium blanditiis similique sunt. Porro repellendus quia laborum sit distinctio fuga. Iure deleniti et est laudantium est expedita nemo.
  </p>
</div>
