

<div class='product-description-style10'>
  <p>
    Quia et voluptas voluptatum est. Molestiae aut earum voluptatem distinctio ea temporibus. Molestiae et ut quis sed dignissimos maiores.Temporibus unde ut exercitationem sit
    nostrum consectetur est. Voluptatem fugit nisi et minima vel. Adipisci iure ut corrupti hic consectetur. Atque mollitia modi suscipit ut necessitatibus.
  </p>
  <xo-grid style='padding-top: 3rem; --xo-grid-col-gap: 60px;'>
    <div style='--xs:12; --md:6' class='product-description__img-wrap'>
      <img src='https://cdn.shopify.com/s/files/1/0911/6149/3876/files/06_dc92c3c0-353d-4b73-8bcd-611d6a2fb238.jpg?v=1744099169' width='1200' height='800' alt='description' is='xo-lazyload' loading='lazy'>
    </div>
    <div style='--xs:12; --md:6'>
      <h3>Product Specifications</h3>
      <p>
        Productum redivivus guidelines sunt magna pars dispositionis sustinebilis et tutelae environmentalis.<br>
        Postquam productum pervenit ad finem vitae suae cycli, redivivus adiuvat vastitatem reducere et usum resource optimize.
      </p>
      <br>
      <h3>Materia</h3>
      <p>
        Materiae non-toxicae: Materiae et compositiones utere quae saluti humanae vel ambitui non sunt noxiae.
        <br>
        Salus pro users: Efficit ut producti non causat cutis irritationem, oculus irritationem, vel nocumentum sanitati per directum contactum. Productum ordinatur et evolvitur
        cum meta maximae sanitatis.
        <br>
        Tollere vel minuere usum substantiarum, quae allergias vel irritationes usoribus afferre possunt, sicut fragrantia artificialia, parabens, et sodium sulphate lauryi.
      </p>
    </div>
  </xo-grid>
</div>
