<div class='product-description-style7'>
  <p>
    Blanditiis dolorem voluptatem consequuntur explicabo accusamus fugiat maxime. Eum vel fugit voluptatibus ex dolorum dolorem cupiditate. Et sed minus repudiandae. Cum aliquid
    aut voluptatem possimus ipsa. Vel asperiores iste nihil nisi. Architecto temporibus maiores nemo non delectus possimus sit.
  </p>
  <xo-grid style='--xs: 1; --md: 2; --lg: 4; padding-top: 2rem'>
    <div>
      <h3>Features</h3>
      <ul role='list'>
        <li>Longum tempus warantum</li>
        <li>Repugnantia inpulsa</li>
        <li>Dura</li>
        <li>Flexibile design</li>
        <li>Securus utor</li>
        <li>Dedicavit ministros</li>
      </ul>
    </div>
    <div>
      <h3>Compositio</h3>
      <ul role='list'>
        <li>Materia non toxicus</li>
        <li>Environmental amicitia</li>
        <li>Salus pro usuario</li>
        <li>Allergens non continet</li>
        <li>Rudis materiae usus redivius</li>
      </ul>
    </div>
    <div>
      <h3>User manual</h3>
      <ul role='list'>
        <li>Sequere instructiones ad usum</li>
        <li>Tutus liberis et cura</li>
        <li>Caute utere</li>
        <li>Proprie Sort vastum</li>
      </ul>
    </div>
    <div>
      <h3>Disclaimer</h3>
      <p>
        Quaeso reprehendo ante emere magnitudinem dux. Una mole maior quam aliis notis popularibus opus est.<br>
        Users responsales sunt se productum examinandi ante usum ad suum particularem usum aptum curare.
      </p>
    </div>
  </xo-grid>
</div>
