

<div class='xo-recover-password-form'>
  {% form 'recover_customer_password' %}
    <div>
      {% liquid
        assign message_success = 'customer.recover_password.success' | t
        render 'form-success', form: form, message: message_success
        render 'form-error', form: form
      %}
      <div class='xo-recover-password-form__description'>
        {% assign description = 'customer.recover_password.subtext' | t %}
        {{ description }}
      </div>
      <div class='xo-recover-password-form__input'>
        {% assign emailLabel = 'customer.login_page.email' | t %}
        {% render 'field-input', type: 'email', name: 'email', value: '', label: emailLabel %}
      </div>
      {% render 'space', value: '2rem' %}
      <div>
        {% assign btn_sign_in_text = 'customer.recover_password.submit' | t %}
        {% render 'button', text: btn_sign_in_text, size: 'md', mode: 'dark', block: true %}
      </div>
      {% render 'space', value: '2rem' %}
      <div>
        <xo-modal-trigger xo-name='forgot-your-password' class='xo-recover-password-form__cancel'>
          {% assign btn_sign_in_text = 'customer.login_page.cancel' | t %}
          {% render 'button', text: btn_sign_in_text, size: 'sm', block: true, style: 'link', mode: 'dark', type: 'button' %}
        </xo-modal-trigger>
      </div>
    </div>
  {% endform %}
</div>
