

<section {% render 'section-attr' %}>
  <xo-container>
    <xo-grid>
      <div class='xo-reset-pass' style='--xs: 12'>
        {%- form 'reset_customer_password' -%}
          {% render 'form-error', form: form %}
          <xo-grid style='--xs: 1'>
            <xo-animate xo-cascade>
              {% assign password_label = 'customer.reset_password.password' | t %}
              {% render 'field-input', type: 'password', name: 'customer[password]', label: password_label %}
            </xo-animate>
            <xo-animate xo-cascade>
              {% assign password_confirm_label = 'customer.reset_password.password_confirm' | t %}
              {% render 'field-input', type: 'password', name: 'customer[password_confirmation]', label: password_confirm_label %}
            </xo-animate>
          </xo-grid>
          {% render 'space', value: '20px' %}
          <xo-animate xo-cascade>
            {% assign label = 'customer.reset_password.submit' | t %}
            {% render 'button', text: label, size: 'md', type: 'submit', block: true, mode: 'dark', effect: 'fade' %}
          </xo-animate>
        {%- endform -%}
      </div>
    </xo-grid>
  </xo-container>
</section>

{% schema %}
{
  "name": "t:sections.main_reset_password.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "select",
      "id": "background_type",
      "label": "t:sections.all.background_type.label",
      "options": [
        {
          "value": "color",
          "label": "t:sections.all.background_type.option__1.label"
        },
        {
          "value": "gradient",
          "label": "t:sections.all.background_type.option__2.label"
        },
        {
          "value": "image",
          "label": "t:sections.all.background_type.option__3.label"
        },
        {
          "value": "video",
          "label": "t:sections.all.background_type.option__4.label"
        }
      ],
      "default": "color"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.background_color.label",
      "alpha": true,
      "visible_if": "{{ section.settings.background_type == 'color' }}"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.background_gradient.label",
      "visible_if": "{{ section.settings.background_type == 'gradient' }}"
    },
    {
      "type": "number",
      "id": "background_margin",
      "label": "t:sections.all.background_margin.label",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "t:sections.all.padding_top.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "t:sections.all.padding_bottom.label",
      "default": 50
    }
  ]
}
{% endschema %}
