/* Base */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: calc(var(--font-body-scale) * 62.5%);
}

body {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  font-size: 1.5rem;
  letter-spacing: 0.07rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}

@media screen and (min-width: 750px) {
  body {
    font-size: 1.6rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }
}
.password-modal__content-heading {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: calc(1 + 0.6 / var(--font-body-scale));
}

@media only screen and (min-width: 750px) {
  .password-modal__content-heading {
    font-size: 1.8rem;
  }
}
/* Password Section */
.full-height {
  height: 100%;
}

.password {
  background-color: rgb(var(--color-background));
  height: 100%;
}

.password-link {
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  white-space: nowrap;
}

.password-link svg {
  width: 1.8rem;
  height: 1.8rem;
}

.password-header__heading {
  font-family: var(--font-heading-family);
  font-style: normal;
  color: var(--color-foreground);
  font-weight: 500;
}

.password-header__box .password-header__form {
  max-width: 50rem;
}

.password-header__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0;
}

.password-header__input {
  display: flex;
  gap: 2.4rem;
}

.password-header__message {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  margin-top: 1rem;
}

.password-header__button {
  padding: 1.7rem 2.4rem !important;
  min-width: 12.2rem;
}

.password-header__button--radius {
  border-radius: var(--button-radius-1);
}

.password-heading {
  margin-top: 5rem;
  font-weight: 400;
}

.password-main {
  flex-grow: 1;
}

.password-main > section:only-child {
  height: 100%;
}

.password-main > section:only-child > .newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 0;
}

.password-main > section:only-child .newsletter__wrapper:not(.email-signup-banner__box) {
  width: 100%;
}

.password-main > section:only-child > :not(.newsletter--narrow) > .newsletter__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.password__footer-text a {
  padding: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.password__footer-login {
  margin-top: 1.2rem;
  padding-bottom: 4rem;
}

.password__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
}

.list-social:not(:empty) + .password__footer-caption {
  margin-top: 3rem;
}

.password__footer-caption a {
  padding: 0;
  color: rgb(var(--color-link));
}

.password-header {
  max-width: var(--page-width);
  padding: 3.4rem 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: rgb(var(--color-foreground));
}
@media (min-width: 992px) {
  .password-header {
    flex-direction: row;
    padding: 4.2rem 7.2rem;
  }
}
@media (min-width: 1400px) {
  .password-header {
    padding: 4.2rem 16.4rem;
  }
}

.password-content {
  text-align: center;
}

.password-header__box {
  padding: 3.4rem;
  position: relative;
}

.password-header__box--radius {
  border-radius: var(--general-radius-3);
}

.password-header__trigger .password-link {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  text-decoration: none;
  border-bottom: 0.1rem solid rgb(var(--color-foreground));
  transition: all 0.3s;
}
.password-header__trigger .password-link:hover {
  opacity: 0.7;
}

.password-header__close {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media only screen and (max-width: 749px) {
  .password-content {
    margin-bottom: 1.8rem;
    margin-top: 1rem;
  }
}
.shopify-name {
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.icon-shopify {
  width: 7rem;
  height: 2rem;
  vertical-align: top;
  color: rgb(var(--color-foreground));
}